<%- include("../common/header.ejs")%>
<div id="topmenu">
   <button>Add New Counsler</button>
  <button>Update Counsler Data</button>
</div>

<table id="enqtable">
  <thead>
    <tr>
      <th>s/n</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      <th colspan="3">Action</th>

     
    </tr>
  </thead>
  <tbody>
    <%result.map((rec, index)=>{%>
    
      <td class="sn"><%= index+1 %></td>
      <td class="name"><%= rec.dataValues.name.toString().toLowerCase()%></td>
      <td class="mobile"><%=rec.dataValues.mobile%></td>
      <td class="email"><%=rec.dataValues.mail%></td>
     
      <td class="act"><button>call</button></td>
      <td class="act"><button>mail</button></td>
       <button><a href="">Remove</a></button>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>

<%- include("../common/footer.ejs")%>
